/*ЧЕРДАК ИДЕАЛЬНО ЗАКОНЧЕН МЕНЯТЬ БОЛЬШЕ НИЧЕГО НЕ НУЖНО*/

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../fonts/Neucha-Regular.ttf")  format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf")  format("truetype");
}

* {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --translucentWhite: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --darkOrange: #ea7600;
  --basicDark: #42413c;
  --dark: #2a2626;
  --translucentDark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --ligthGrey: #757575;
}

body {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

.container {
  width: 1110px;
}

section {
  padding: 100px 0;
  text-align: center;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.background-img::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: "";
}

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
  background-color:  var(--light); 
}

p {
  margin: 0;
  padding: 0;
}

h1.orange {
  position: relative;
  margin: 0;
  padding-top: 100px;
  padding-left: 165px;
}

.text-orange {
  color: var(--basic); 
}

.main-header > img {
  position: absolute;
  height: 525px;
  margin-top: 55px;
  margin-left: 461px;
}

.header-description {
  display: grid;
  grid-template-columns: 540px 540px;
  gap: 30px;
  margin-top: 185px;
  margin-left: 165px;
  padding-left: 0;
}

.btn {
  display: block;
  display: block;
  width: 148px;
  height: 49px;
  border: none;
  color: var(--white);
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fe8a02;
}

.btn-more {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 735px;
}

/*ЧЕРДАК ИДЕАЛЬНО ЗАКОНЧЕН МЕНЯТЬ БОЛЬШЕ НИЧЕГО НЕ НУЖНО*/

.sct_wth_vid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--white);
}

.container-2-video {
  box-sizing: border-box;
  border: 0;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  margin-bottom: -200px;
}

.video-text {
font-family: "Open Sans";
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: center;
padding-top: 27px;
padding-bottom: 30px;
}

/*вторая секция*/

.navigation {
  background-color: var(--basicDark);  
  padding-top: 84px;
}

.five-items {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 20px 30px;
  padding-top: 100px;
  margin-left: 128px;
  list-style-type: none;
}

.five-item:not(:first-child) {
  background-color: var(--light);
}

a {
  text-decoration: none;
}

.navigation-title {
  color: var(--white);
  font-weight: normal;
  font-size: 52px;
  text-decoration: none;
  background-color: #42413c;
  text-align: left;
}

.five-it-head {
  padding-left: 24px;
  margin-left: 0;
  font-size: 35px;
  color: var(--basic);
  font-weight: 400;
  text-align: left;
}

.number {
  padding-top: 26px;
  padding-bottom: 37px;
  padding-left: 24px;
  font-family: "Neucha";
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  color: var(--dark);
}

.five-description {
  color: var(--dark);
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  font-family: 'Open Sans';
  text-align: left;
}

.five-item:not(:first-child):hover {
  background-color: var(--basic);
}

.five-item:not(:first-child):hover .number {
  color: var(--white);
}

.five-item:not(:first-child):hover .five-it-head {
  color: var(--white);
}

.five-item:not(:first-child):hover .five-description {
  color: var(--white);
}

/*ЗАКОНЧЕНО*/

.page {
  position: relative;
  z-index: -2;
}

.light {
  background-color: var(--light);
  color: var(--dark);
}

.dark {
  background-color: var(--brown);
}

.brown {
  color: var(--white);
}

p.white {
  color: var(--white);
}

h2.white {
  color: var(--white);
}

.title-dark.white {
  color: var(--brown);
  background-color: var(--white);
}

.description.description_big {
  color: var(--dark);
  margin-top: 30px;
  font-family: "Neucha";
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2;
}

.columns {
  column-count: 2;
  column-gap: 30px;
  
  text-align: left;
  margin-left: 164px;
}

.flex {
  display: flex;
  justify-content: left;
  margin-left: 164px;
}

.upper-items-image {
  vertical-align: middle;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.description {
  font-size: 30px;
}

.item-container{
  width: 1110px;
}

.upper-items {
  padding-bottom: 100px;
  width: 1110px;
}

.upper-items-right {
  margin-left: 32px;
  text-align: left;
}

.upper-items-left {
  margin-right: 32px;
  text-align: left;
}

.upper-items-left > p.description_big.white {
color: var(--white);
}

.little-item {
  font-family: "Neucha";
  color: var(--translucentDark);
  font-size: 24px;
}


.title-dark {
  column-span: all;
  text-align: left;
  column-span: all;
  background-color: var(--brown);
  color: white;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  line-height: 17px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.columns > p {
  break-inside: avoid;
}

#premature-optimization {
  position: relative;
  background-color: var(--brown);
  padding: 100px 0;
  color: var(--white);
}

/*ЗАКОНЧЕНО*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 100px 165px 111px 165px ;
}


.footer-box {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 1110px;
  box-sizing: border-box;
  background-color: #42413C;
  padding: 38px 55px 40px 55px;
  margin-bottom: 76px;
  color: var(--white);
}

.footer-box-text {
  flex: 1;
  margin-top: 17px;
  margin-bottom: 15px;
  font-family: 'Neucha', sans-serif;
  font-size: 34px;
  line-height: 120%;
}

.newsletter-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.e-mail {
  font-size: 18px;
  margin-bottom: 9px;
}

.newsletter-block form {
  display: flex;
  width: 100%;
}


input[type=email] {
  flex: 1;
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

input[type=email]::placeholder {
  padding-left: 15px;
  color: var(--translucentwhite);
}

.submit {
  position: relative;
  width: 70px;
  height: 50px;
  background-color: var(--basic);
}

.submit:before {
  content: '';
  position: absolute;
  background: url('../images/send.svg') no-repeat center center;
  width: 70px;
  height: 50px;
  top: 0;
  left: 0;
}

.submit:hover {
  background-color: #ea7600;
}

.source {
  margin: 16px 0;
}

.source a {
  color: var(--blue);
}

.agreement {
  font-size: 12px;
}

.agreement a {
  color: var(--white);
}
.to-courses a {
  color: var(--blue);
}